name: Deploy to HML (Fake)

on:
  push:
    branches:
      - hml

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fake deploy
        run: |
          echo "Iniciando deploy fake..."
          sleep 3
          echo "Deploy fake finalizado com sucesso!"

      - name: Trigger label workflow
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: "apply-using-hml-label.yml",
              ref: "hml"
            })
